<header>
  <img
    src="assets/img/foto-perfil.jpg"
    alt="imagem representativa"
    width="130px"
    height="130px"
    loading="eager"
  />

  <h1>Kaike Ventura Tuerpe</h1>
</header>

<aside>
  <div class="container">
    <p>Java | Web | Angular | Banco de Dados</p>
    <p>Blumenau-SC, Brasil</p>
    <p>
      Estou na procura do meu primeiro trabalho profissional na área de
      programação, e visto que preciso aprender muito ainda estou criando o meu
      primeiro projeto grande em angular.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/cv-kaike.pdf"
            target="_blank"
            class="btn btn-primary"
            >Download Cv</a
          >
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/kaike-tuerpe-a8011421b/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone para contato do whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5547999861561&text=Ol%C3%A1%20Kaike,%20preciso%20de%um%20job!"
            target="_blank"
          >
            <strong>Envie uma mensagem para: </strong>
            <p>Whatsapp: (47) 9 9986-1561</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Icone para contato do email"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:kaikevttuerpe@gmail.com" target="_blank">
            <strong>Envie um email para: </strong>
            <p>kaikevttuerpe&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
